/*
skill
說明: 英雄的技能圖案 (暫不使用)
範例:
<div className={styles.skill} data-key="E" > // class 綁定 skill 可複寫
  <img
    src={path} // 圖片路徑
    alt={path} // (建議留空)
    data-tip   // 如果需要滑過的時候出現 tooltip
    data-for={`skilltip${index}`} // tooltip 綁定的 ID
  />
  <Tooltip id={`skilltip${index}`} tooltip={SkillTips[index]} /> // SkillTips 請參考 models/player
</div>
備註: 如果不要顯示快捷鍵請拔掉 data-key
*/

.skill {
  position: relative;
  display: inline-block;
  width: inherit;
  height: inherit;
  /* border: 1px solid #222; */
  box-shadow: 0 0 2px #000;
  border-radius: 8px;
  img {
    vertical-align: middle;
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }
  &[data-key=Q]::before {
    content: 'Q';
  }
  &[data-key=W]::before {
    content: 'W';
  }
  &[data-key=E]::before {
    content: 'E';
  }
  &[data-key=R]::before {
    content: 'R';
  }
  &[data-key=T]::before {
    content: 'T';
  }
  &[data-key=D]::before {
    content: 'D';
  }
  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40%;
    width: 40%;
    color: #eee;
    border-bottom-right-radius: 8px;
    text-align: center;
    font-weight: 700;
    font-size: 90%;
    line-height: 140%;
    background-color: rgba(0, 0, 0, .6);
  }
}
