.lang {
  padding: 0.2rem 0.4rem;
  margin-right: 0.4rem;
  color: #16B5DB;
  text-decoration: none;
  border-radius: 4px;
  transition: all .2s ease-in-out;
  &:hover {
    color: #FEEE15;
  }
  &.select {
    color: #FEEE15;
    background: #36485B;
  }
}
