@import '../scss/components/buff.scss';
/* 使用技能的樣式組件 */

.buff-group {
  position: absolute;
  bottom: 0;
  right: 40%;
  left: 35%;
  /* align to skill */
  padding: 0 0.6rem;
  height: 250px;
  /* align to skill */
  width: 30%;
  &.disable {
    display: none;
  }
  .buff-list {
    /* align to skill */
    padding: 0 0.6rem;
    /* align to skill */
    &>div {
      display: inline-block;
      position: relative;
      margin-right: 0.4rem;
      width: 50px;
      text-align: center;
      .buff {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 40px;
        width: 40px;
      }
    }
  }
}
