.player {
  margin-top: 2rem;
  .table {
    margin-top: 2rem;
    border-collapse: collapse;
    tr {
      td {
        color: #fff;
        padding: 0.5rem 0.8rem;
      }
      &:nth-child(odd) td {
        background-color: #888;
      }
      &:nth-child(even) td {
        background-color: #666;
      }
    }
  }
}
