@import '../scss/components/progress-bars.scss';
/* 使用技能的樣式組件 */

.skill-group {
  position: absolute;
  bottom: 0;
  right: 40%;
  left: 35%;
  width: 30%;
  background: #282A36;
  padding: 0.6rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  .progress {
    /* overwrite progress-bars.scss */
    margin-bottom: 0.6rem;
  }
  .skill-list {
    // margin-bottom: 0.6rem;
    padding: 0.6rem;
    background-color: #44475A;
    border-radius: 6px;
    &>div {
      display: inline-block;
      position: relative;
      margin-right: 0.4rem;
      width: 50px;
      .skill-up {
        margin-right: 0.4rem;
        margin-bottom: 0.4rem;
        width: 50px;
        height: 50px;
        border-radius: 6px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        &.disable {
          /* visibility: hidden; */
          display: none;
        }
      }
      .skill-level {
        margin-top: 1.8rem;
        max-width: 50px;
        height: 12px;
        border-radius: 2px;
        border: 1px solid #2D3032;
        background-color: #2D3032;
        display: flex;
        padding: 0.6px;
        .skill-level-current {
          flex: 4;
          margin: 0 1px;
          height: inherit;
          background-color: #00001B;
          &.valid {
            background: linear-gradient(0deg, #B18A00 27%, #FFD339 67%);
            background: -moz-linear-gradient(0deg, #B18A00 27%, #FFD339 67%);
            background: -webkit-linear-gradient(0deg, #B18A00 27%, #FFD339 67%);
            background: -o-linear-gradient(0deg, #B18A00 27%, #FFD339 67%);
          }
        }
      }
    }
  }
}
