/*
  tooltip-generator
  https://github.com/RemakeAONTeam/tooltip-generator
*/

.tooltip {
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  background-color: rgba($color: #000, $alpha: 1) !important;
  z-index: 9999;
  .tool {
    display: inline-block;
    max-width: 460px;
    .tip {
      display: block;
      margin: 0 auto;
      font-size: 1rem;
      line-height: 140%;
      font-family: 'Microsoft JhengHei', sans-serif;
      text-align: left;
      color: #eee;
      /* 數值 */
      num {
        margin: 0 2px;
        color: #fbfe01;
      }
      /* 註解 */
      comment {
        margin: 0 2px;
        color: #bf1a20;
      }
      /* 唯一 */
      unique {
        /*  display: block; */
        margin-top: 1rem;
        color: #ff3cfe;
      }
      /* 重點 */
      heavy {
        margin: 0 2px;
        color: #fbfe01;
      }
      /* 力量附加 */
      str {
        margin: 0 2px;
        color: #e9290f;
      }
      /* 敏捷附加 */
      agi {
        margin: 0 2px;
        color: #6a9c78;
      }
      /* 智慧附加 */
      int {
        margin: 0 2px;
        color: #0074e4;
      }
    }
    .header {
      color: #00cfbc;
    }
  }
}
